.inline {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
}

.block {
  border-top: 1px solid green;
  border-bottom: 1px solid blue;
  /* margin-top: 10px; */
  margin-top: 2px solid yellowgreen;
}

.border {
  border-bottom: 1px solid cyan;
}

.margin-b {
  margin-bottom: 30px;
}

.green {
  color:green ;
}

.red {
  color: red;
}

.blue {
  color: blue;
  
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

img {
  border: 1px solid red;
}

.small {
  width: 200px;
}

.big {
  width: 400px;
}